<% content_for :page_title do %>
Ruby on Rails 指南
<% end %>

<% content_for :header_section do %>
<h2>Ruby on Rails 指南 (<%= ENV['RAILS_VERSION'] || 'edge' %>)</h2>

<% if @edge %>
<p>
  These are <b>Edge Guides</b>, 基于当前的
  <a href="https://github.com/rails/rails/tree/master">主分支</a>。
</p>
<p>
  如果你需要稳定版本，请到这里：
  <a href="http://guides.rubyonrails.org">http://guides.rubyonrails.org</a> 查看。
</p>
<% else %>
<p>
  这里是 Rails 3 的新指南。  Rails 2.3 在这里
  at <a href="http://guides.rubyonrails.org/v2.3.11/">http://guides.rubyonrails.org/v2.3.11/</a>.
</p>
<% end %>
<p>
  这份指南用于让你立即投入 Rails 的开发,
  并帮助你了解各部分的组成原理。
</p>

<% end %>

<% content_for :index_section do %>
<div id="subCol">
  <dl>
    <dd class="work-in-progress">带有这个图标的指南还处于开发过程。虽然可能对你有用，但是他们可能包含不完全甚至是错误的信息。你可以帮助我们查看，并向作者反馈你的注解和修订。</dd>
  </dl>
</div>
<% end %>

<h3>从这里开始</h3>

<dl>
<%= guide('起步', 'getting_started.html') do %>
  <p>关于安装和创建你的第一个应用程序所需知道的一切。</p>
<% end %>
</dl>

<h3>模型</h3>

<dl>
<%= guide("数据库迁移", 'migrations.html') do %>
  <p>如何有结构地、有组织地使用Active Record 迁移来改变你的数据库。</p>
<% end %>

<%= guide("Active Record校验和回调", 'active_record_validations_callbacks.html') do %>
  <p>如何使用 Active Record 校验和回调。</p>
<% end %>

<%= guide("Active Record关联", 'association_basics.html') do %>
  <p>Active Record提供的关联。</p>
<% end %>

<%= guide("Active Record查询界面", 'active_record_querying.html') do %>
  <p>Active Record提供的数据库查询界面。</p>
<% end %>
</dl>

<h3>视图</h3>

<dl>
<%= guide("布局和渲染", 'layouts_and_rendering.html') do %>
  <p>Action Controller 和 Action View的基本布局特性，包含渲染和重定向、使用 content_for 代码块和使用局部模板工作。</p>
<% end %>

<%= guide("Action View表单辅助方法", 'form_helpers.html', :work_in_progress => true) do %>
  <p>使用内置的表单辅助方法。</p>
<% end %>
</dl>

<h3>控制器</h3>

<dl>
<%= guide("ActionController概述", 'action_controller_overview.html') do %>
  <p>控制器如何工作，它们如何构成应用程序的应答圈。包含了sessions、过滤器和 cookies, 数据流和异常处理 raised by a request, among other topics.</p>
<% end %>

<%= guide("路由深入浅出", 'routing.html') do %>
  <p>用户面对的 Rails 路由特性。如果你想了解如何在你自己的应用程序中使用路由，从这里开始。</p>
<% end %>
</dl>

<h3>深入</h3>

<dl>

<%= guide("Active Support核心扩展", 'active_support_core_extensions.html') do %>
  <p>在Active Support中定义的核心扩展。</p>
<% end %>

<%= guide("国际化接口", 'i18n.html') do %>
  <p>如何在你的应用程序中加入国际化。 你的应用程序可以将内容翻译成不同的语言、 change pluralization rules, 使用每个国家准确的日期格式等等。</p>
<% end %>

<%= guide("Action Mailer基础", 'action_mailer_basics.html', :work_in_progress => true) do %>
  <p>本篇描述了如何使用 Action Mailer 发送和接收邮件。</p>
<% end %>

<%= guide("测试", 'testing.html', :work_in_progress => true) do %>
  <p>综合讲述了Rails中的单元测试和功能测试。 It covers everything from &quot;What is a test?&quot; to the testing APIs. Enjoy.</p>
<% end %>

<%= guide("安全", 'security.html') do %>
  <p>web应用程序中常见的安全问题，如何在 Rails 中应对。</p>
<% end %>

<%= guide("调试", 'debugging_rails_applications.html') do %>
  <p>如何调试 Rails 应用程序。 实现的不同方法和如何理解 what is happening "behind the scenes" of your code.</p>
<% end %>

<%= guide(" Rails 应用程序性能测试", 'performance_testing.html') do %>
  <p>几种应用程序性能测试的方法。</p>
<% end %>

<%= guide("配置", 'configuring.html') do %>
  <p>Rails应用程序的配置设定。</p>
<% end %>

<%= guide("命令行工具和Rake任务", 'command_line.html') do %>
  <p>Rails 提供的命令行工具和Rake任务。</p>
<% end %>

<%= guide("缓存", 'caching_with_rails.html', :work_in_progress => true) do %>
  <p> Rails 提供的各种缓存技术。</p>
<% end %>

<%= guide('资产管道', 'asset_pipeline.html') do %>
  <p>资产管道的指南文档。</p>
<% end %>
</dl>

<h3>扩展Rails</h3>

<dl>
  <%= guide("插件创建基础", 'plugins.html', :work_in_progress => true) do %>
    <p>本篇描述了如何创建插件来扩展 Rails 的功能。</p>
  <% end %>

  <%= guide("Rails on Rack", 'rails_on_rack.html') do %>
    <p>Rails 与 Rack 集成、与其它 Rack 组件接合。</p>
  <% end %>

  <%= guide("创建和定制 Rails 生成器", 'generators.html') do %>
    <p>为你的扩展加入全新的生成器，或者为内置的生成器提供选项(比如给脚手架生成添加可选的测试桩).</p>
  <% end %>
</dl>

<h3>为 Ruby on Rails 做贡献</h3>

<dl>
  <%= guide("为 Ruby on Rails 做贡献", 'contributing_to_ruby_on_rails.html') do %>
    <p>Rails 不是 &quot;他人的框架。&quot; 本篇涵盖了你参与开发过程的几种方法。</p>
  <% end %>

  <%= guide('API文档指南', 'api_documentation_guidelines.html') do %>
    <p>This guide documents the Ruby on Rails API documentation guidelines.</p>
  <% end %>

  <%= guide('Ruby on Rails Guides Guidelines', 'ruby_on_rails_guides_guidelines.html') do %>
    <p>This guide documents the Ruby on Rails guides guidelines.</p>
  <% end %>
</dl>

<h3>Release Notes</h3>

<dl>
<%= guide("Ruby on Rails 3.1 Release Notes", '3_1_release_notes.html') do %>
  <p>Release notes for Rails 3.1.</p>
<% end %>

<%= guide("Ruby on Rails 3.0 Release Notes", '3_0_release_notes.html') do %>
  <p>Release notes for Rails 3.0.</p>
<% end %>

<%= guide("Ruby on Rails 2.3 Release Notes", '2_3_release_notes.html') do %>
  <p>Release notes for Rails 2.3.</p>
<% end %>

<%= guide("Ruby on Rails 2.2 Release Notes", '2_2_release_notes.html') do %>
  <p>Release notes for Rails 2.2.</p>
<% end %>
</dl>
